header{
    font-size: 80px;
    margin-left:20%;
    text-align: left;
    font-weight: bold;
}


#head1{
    color: #57a494;
}
#head2{
    color: #c93d48;
}
#head3{
    color: #c4928b;
}

#head4{
    color: #81a0b4;
}