#headall{
    font-size: 80px;
    margin-left:20%;
    text-align: left;
    font-weight: bold;
}

.st1 {
    color: #57a494;

    font-size: 80px;
    margin-left:20%;
    text-align: left;
    font-weight: bold;
}

.st2 {
    color: #c93d48;

    font-size: 80px;
    margin-left:20%;
    text-align: left;
    font-weight: bold;
}

.st3 {
    color: #c4928b;

    font-size: 80px;
    margin-left:20%;
    text-align: left;
    font-weight: bold;
}

.st4 {
    color: #81a0b4;

    font-size: 80px;
    margin-left:20%;
    text-align: left;
    font-weight: bold;
}
