#headall{
    font-size: 80px;
    //margin-left:20%;
    text-align: center;
    font-weight: bold;
}

.st1 {
    color: #57a494;
}

.st2 {
    color: #c93d48;
}

.st3 {
    color: #c4928b;
}

.st4 {
    color: #81a0b4;
}

.txt1{
    color: #c0c91e;
    font-size: 50px;
    margin-left:10%;
    text-align: center;
    font-weight: bold;
}
.txt2{
    color: #81a0b4;
    font-size: 50px;
    margin-left:10%;
    text-align: left;
    font-weight: bold;
}
.txt3{
    color: #c4928b;
    font-size: 50px;
    margin-left:10%;
    text-align: left;
    font-weight: bold;
}
.txt4{
    color: #57a494;
    font-size: 50px;
    margin-left:10%;
    text-align: left;
    font-weight: bold;
}
.txt5{
    color: #c93d48;
    font-size: 50px;
    margin-left:10%;
    text-align: left;
    font-weight: bold;
}


#pdiv1{
    width: 30%;
}


#copyright{
    color: blue;
    text-align: center;
}